<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/create.css" />
    <title>Create Messages</title>
  </head>

  <body>
    <form action="/create" method="post" class="form">
      <% if (locals.message) { %>
      <div class="<%= message.class %> group">
        <p><%= message.text %></p>
      </div>
      <% } %>

      <div class="group">
        <label for="title">
          <p>Message Title</p>
          <input type="text" name="title" id="title" />
        </label>
      </div>

      <div class="group">
        <label for="category">
          <p>Category</p>
          <select name="category" id="category">
            <option value="SPIRITUAL GROWTH AND TRANSFORMATION">SPIRITUAL GROWTH AND TRANSFORMATION</option>
            <option value="PURPOSE AND DESTINY">PURPOSE AND DESTINY</option>
            <option value="BUSINESS, FINANCE AND KINGDOM ECONOMICS">BUSINESS, FINANCE AND KINGDOM ECONOMICS</option>
            <option value="RELATIONSHIP AND FAMILY LIFE">RELATIONSHIP AND FAMILY LIFE</option>
            <option value="LEADERSHIP, SUCCESS AND PERSONAL DEVELOPMENT">LEADERSHIP, SUCCESS AND PERSONAL DEVELOPMENT</option>
            <option value="PRAYER, FASTING AND SPIRITUAL EMPHASIS">PRAYER, FASTING AND SPIRITUAL EMPHASIS</option>
            <option value="MIRACLE SERVICES">MIRACLE SERVICES</option>
          </select>
        </label>
      </div>

      <div class="group">
        <label for="year">
          <p>Year</p>
          <select name="year" id="year">
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
          </select>
        </label>
      </div>

      <div class="group">
        <label for="minister">
          <p>Minister</p>
          <select name="minister" id="minister">
            <option selected value="Apostle Joshua Selman Nimmak">Apostle Joshua Selman Nimmak</option>
          </select>
        </label>
      </div>

      <div class="group">
        <button>Save</button>
      </div>
    </form>
  </body>

  <script src="public/js/global.js"></script>
</html>
