:root{
  --blue: #2C98F0;
  --green: #1FCAC8;
  --white: #FFFFFF;
}

body {
  background-color: var(--blue);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkblue;
}

*, *::after, *::before {
  box-sizing: border-box;
}

main {
  max-width: 1132px;
  margin: 0 auto;
  padding: 0;
}

div.search, div.table, div.nav {
  margin: 40px 0;
  background-color: var(--green);
  border-radius: 5px;
  padding: 25px;
}


/* SEARCH */
form {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
}

form > * {
  flex: 1;
  background-color: var(--white);
  height: 35px;
  font-size: 14px;
  color: darkslategray;
  margin: 10px;
}

input {
  padding-left: 10px;
}

button {
  border-radius: 5px;
  padding: 0px 10px;
}

button:hover {
  color: var(--white);
  background-color: darkslategray;
}


/* TABLE */
div.table {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  min-width: 1132px;
  width: 100%;
}

th {
  height: 50px;
  font-size: larger;
}

td {
  height: 35px;
}

th, td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: var(--blue);
  border: 5px solid var(--blue);
  color: darkslategray;
}

tr:nth-child(odd) {
  background-color: var(--green);
  border: 5px solid var(--green);
  color: darkblue
}

* {
  border: none;
}

img {
  width: 20px;
  height: 20px;
}


/* NAVIGATION */
.nav-container {
  margin-top: 20px;
}

.prev {
  text-decoration: none;
}

.next {
  float: right;
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  color: grey;
}


/* EXTRAS */
.success {
  color: darkgreen;
}

.failed {
  color: red;
}


/* CUSTOMIZATION FOR SMALLER SCREENS */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  form {
    display: block;
    overflow: hidden;
  }

  form > * {
    width: 95%;
    margin: auto;
    height: 30px;
    font-size: 12px;
    margin: 10px;
  }
}
